<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>北商財稅系人工選課</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <link rel="icon" href="images/icon.ico" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="header">
        <img src="/images/banner1.png" alt="">
        <div class="forLogout">
            <button class="ui button" id="logout">登出</button>
        </div>
    </div>
    <div class="ui top   secondary   menu" id="tab">
        <a class="active item" data-tab="record"><b>選課紀錄</b></a>
        <a class="item" data-tab="push"><b>加選</b></a>
        <a class="item" data-tab="pull"><b>退選</b></a>
    </div>
    <div class="ui bottom center aligned active tab segment" data-tab="record">
        <table class="ui  very basic    celled table selectable striped three table">
            <thead>
                <tr>
                    <th>申請時間</th>
                    <th>事由</th>
                    <th>審核狀態</th>
                </tr>
            </thead>
            <tbody id="record"></tbody>
        </table>
    </div>

    <div class="ui bottom  tab segment" data-tab="push">
        <%- include('tab/plus'); -%>
    </div>

    <div class="ui bottom   tab segment" data-tab="pull">
        <%- include('tab/drop'); -%>
    </div>

    <div class="ui bottom tab segment" data-tab="remove">
        <%- include('tab/remove'); -%>
    </div>

    <div>
        <div>
            <!-- 加選 -->
            <%- include('model/model',{title:"加選申請",type:"push",doc:"three_fields"}); -%>
        </div>

        <div>
            <!-- 退選 -->
            <%- include('model/model',{title:"退選申請",type:"pull",doc:"three_fields"}); -%>
        </div>

        <div>
            <!-- 減修 -->
            <%- include('model/model',{title:"減修申請",type:"remove",doc:"one_field"}); -%>
        </div>
        <div>
            <!-- 重新加退選 -->
            <%- include('model/model',{title:"重新加退選",type:"rE",doc:"reApply"}); -%>
        </div>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="/js/eletive.js"></script>
</body>

</html>