<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>北商財稅系人工選課</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <link rel="icon" href="images/icon.ico" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="header">
        <img src="/images/banner1.png" alt="這是背景圖">
        <div class="forLogout">
            <button class="ui button" id="logout">登出</button>
        </div>
    </div>
    <div class="ui top   secondary   menu" id="tab">
        <a class="active item" data-tab="record"><b>選課紀錄</b></a>
        <a class="item" data-tab="push"><b>加選</b></a>
        <a class="item" data-tab="pull"><b>退選</b></a>
    </div>
    <div class="ui bottom center aligned active tab segment" data-tab="record">
        <table class="ui  very basic    celled table selectable striped three table">
            <thead>
                <tr>
                    <th>申請時間</th>
                    <th>事由</th>
                    <th>審核狀態</th>
                </tr>
            </thead>
            <tbody id="record"></tbody>
        </table>
    </div>

    <div class="ui bottom  tab segment" data-tab="push">
        <%- include('plus'); -%>
    </div>

    <div class="ui bottom   tab segment" data-tab="pull">
        <%- include('drop'); -%>
    </div>
    <div class="ui bottom tab segment" data-tab="remove">
        <%- include('remove'); -%>
    </div>
    <div>
        <!-- ===加選 -->

            <%- include('model',{title:"加選申請",type:"push"}); -%>

        <!-- ===退選 -->
        <%- include('model',{title:"加選申請",type:"pull"}); -%>
       
        <!-- ===減修 -->
        <div class="ui modal large removeModal" id="removeModal">
            <i class="close icon"></i>
            <div class="header"> 減修申請 </div>
            <div class="image content">
                <div class="field">
                    <label class="modelField"><span class="ui red text">*</span>減修申請書(必填)</label>
                    <input type="file" id="removeA" class="modelField" />
                </div>
            </div>
            <div class="actions">
                <div class="ui button cancel">取消</div>
                <div class="ui button approve">確認</div>
            </div>
        </div>
        <!-- ===重新加退選 -->
        <div class="ui modal large rEModal" id="rEModal">
            <i class="close icon"></i>
            <!-- 時間標題+事由 -->
            <div class="header" id="rETitle"></div>
            <div class="content">
                <div id="rERemark"> </div>
                <h3>若要瀏覽前次上傳紀錄，請點選下載</h3>
                <div class="ui basic segment">
                    <div class="ui grid">
                        <div class="ui three column divided center aligned row tablet computer only">
                            <!-- 電腦設備 -->
                            <div class="ui column tablet computer only">
                                <div class="field studentF">
                                    <label><span class="ui red text">*</span>申請書(必填)</label>
                                    <p>

                                        <button class="ui button downloadFile" id="eaDown" name="applyUrl">下載</button>
                                    </p>
                                    <input type="file" id="rEA" class="forResend" />
                                </div>
                            </div>
                            <div class="ui column tablet computer only">
                                <div class="field studentF" id="rErF">
                                    <label>學生報告書(超修或低修)</label>
                                    <p>
                                        <button class="ui button downloadFile erDown" id="erDown"
                                            name="reportUrl">下載</button>
                                    </p>
                                    <input type="file" id="rER" class="forResend" />
                                </div>
                            </div>

                            <div class="ui column tablet computer only">
                                <div class="field studentF rEcF" id="rEcF">
                                    <label>任課老師核准證明(選填)</label>
                                    <button id="addEC" class="modelField addEC forResend" name="re">增加檔案</button>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <!-- 這邊貼上 -->
                    </div>
                    <div class="ui basic segment right aligned">
                        <div class="ui button forResend" id="rESend">送出</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui button cancel">取消</div>
                    <div class="ui button approve">確認</div>
                </div>
            </div>
        </div>

        <script src="https://smtpjs.com/v3/smtp.js">
        </script>

        <script src="/js/eletive.js"></script>

</body>

</html>